<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kustomer.kustomersdk">

    <application>

        <provider
            android:name=".Providers.KUSFileProvider"
            android:authorities="${applicationId}.kustomersdk"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/kus_file_paths" />
        </provider>

    </application>

</manifest>